html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Colibri', sans-serif;
    font-weight: normal;
    font-style: normal;
}

body {
    transition: 0.5s;
    height: 100vh;
    background: #241238;
    color: #fff;
}

body.light {
    color: #2F1234;
    background: #C76483;
}

.short_name {
    width: 70px;
    font-size: 15px;
}

.header_box {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #C56992;
}
.light .header_box{
    border-bottom: 2px solid #241238;   
}

/*.item>*{
    margin-right: 15px;
}*/

.coin_logo {
    width: 35px;
    margin-right: 10px;
}

.coin_logo>img {
    width: 28px;
}

.coin_box_row {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-size: 22px;
    font-weight: bold;
    padding: 4px 0 7px 0;
    border-bottom: 1px solid #C56992;
}
.light .coin_box_row{
    border-bottom: 1px solid #241238;
}
.rank {
    width: 22px;
    margin-right: 10px;
    text-align: right;
}

.content_box .rank {

    font-size: 14px;
}

.price {
    font-size: 16px;
    width: 120px;
    text-align: right;
    padding-bottom: 8px;
    /*background: #1EC453;*/
    padding: 4px 8px 4px 8px;
    box-sizing: border-box;
}

.capitalization {
    font-size: 14px;
    width: 150px;
    text-align: right;
}

.opacity_0 {
    opacity: 0;
}

section {
    transition: opacity 0.5s;
}